#lol{
    background-image: url(../img/XD2.jpg);
    background-size: cover;
}

.boody{
    background: rgb(232, 228, 228);
}

.form-signup{
    margin: 0 auto;
    max-width: 400px;
}

.sd{
    text-decoration: none;
}

.lol{
    text-align: center;
}

.welcome{
    margin-left: 1%;
    padding-right: 14%;
    display: flex;
}

.welcome2{
    position: absolute;
    margin-top: -1%;
}

#pg{
    padding-left: 75%;
    padding-right: 3%;
}

#btn-menu{
    display: none;
    margin-left: 500%;
}

.container-menu{
    position: absolute;
    display: flex;
    background: rgba(134, 134, 134, 0.514);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 800ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    padding-top: 2%;
    width: 100%;
    max-width: 250px;
    background: #7c7979;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .mostrar-menu {
    transform: translateX(0);
  }
  
  .container-menu {
    display: block;
  }


#btn-menu:checked~.container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 25px;
    color: rgb(255, 255, 255);
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.cont-menu nav a:hover{
    border-left : 5px solid #505050;
    background: rgb(13, 71, 119);
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color : rgb(16, 11, 48);
    cursor: pointer;
    font-size: 10px;
}

.content{
    background-color: rgb(23, 223, 223);
}

.mainContent{
    padding-left: 15%;
    padding-top: 5%;
}

.perfilContent{
    padding-left: 15%;
    padding-top: 8%;
}

.registerContent{
    padding-left: 15%;
    padding-top: 8%;
}

/* ------------------VISTA DE CONSULTAS------------------ */

.usersContent{
    padding-left: 15%;
    padding-top: 8%;
}

.table-const{
        padding-right: 15%;
}

/* ------------------------------------------------------ */


.label {
    position: relative;
}

.contenedor {
    position: absolute; 
    left: 105%;
    top: -60%;
}

.foto_perfil{
    /* background-color: aquamarine; */
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: inline-block; 
    vertical-align: middle; 
}

@media (max-width: 768px) {
    .cont-menu{
        padding-top: 5%;
        width: 100%;
        max-width: 250px;
        background: rgba(134, 134, 134, 0.514);
        height: 100vh;
        position: relative;
        transition: all 600ms ease;
        transform: translateX(-100%);
    }

    #pg{
        padding-left: 85%;
        padding-right: 3%;
        margin-top: -6%;
       
    }
    .mainContent{
        padding-left: 40%;
        padding-top: 15%;
    }
    
}

#calendar{

    margin-top: 100px;
    width: 80%;

}